*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
.env
/local-config/
config-test.go
/html/
/.idea
.idea/workspace.xml
/.idea
pkg/pkgs/default/textblock/benchmark/text.txt
build/breezynotes/bin/migrator
